{% extends 'base.html' %}

{% block body_class %}poem-page{% endblock %}

{% block content %}
<main class="container section poem-layout" >
  <!-- Cột nội dung bài thơ -->
  <section>
    <!-- Tiêu đề bài thơ -->
    <h1 class="poem-title" style="margin: 0 0 0 0;">{{ poem.title }}</h1>
    <!-- Tên tác giả và ngày tạo -->
    <div class="poem-author" style="color:#666; margin:20px 50px 0 0;">
      <em>{{ author.name }}</em>
    </div>

    <!-- Bộ chuyển ngôn ngữ -->
    <div class="poem-lang-switch">
      <!-- Nút VI (luôn khả dụng) -->
      <a
        href="{{ url_for('poem_page', author_slug=author.slug, poem_slug=poem.slug, lang='vi') }}"
        class="btn{% if poem.lang=='vi' %} active{% endif %}"
        style="padding: 10px 10px; border: 1px solid #020202; border-radius:6px; text-align: center; text-decoration:none;"
      >Tiếng Việt</a>
 
      <!-- Nút EN -->
      <a
        href="{{ url_for('poem_page', author_slug=author.slug, poem_slug=poem.slug, lang='en') }}"
        class="btn{% if poem.lang=='en' %} active{% endif %}"
        style="padding:10px 10px; border:1px solid #020202; border-radius:6px; text-align:center ;text-decoration:none;"
      >English</a>
    </div>

    <!-- Nội dung bài thơ -->
    <article class="poem-content">{% if poem.lang == 'en' and 'en' not in poem.available_langs %}
<em>No English version is available </em>🥲👌🥀.{% else %}
{{content}}{% endif %}
    </article>
  </section>

  <!-- Sidebar: các bài thơ khác của tác giả -->
  <aside>  
    <h3 style = "margin-top: 0; font-size: x-large;">Những tác phẩm khác</h3>
    <ul class = "poem-sidebar_list">
      {% for it in other_poems %}
        <li class="poem-sidebar_item">
          <a
            href="{{ url_for('poem_page', author_slug=author.slug, poem_slug=it.slug) }}"
            class ="poem-sidebar_link {% if it.slug==poem.slug %} is-active {% endif %}"
          >{{ it.title }}</a>
        </li>
      {% else %}
        <li style="color:#888;">(Không có bài khác)</li>
      {% endfor %}
    </ul>
  </aside>
</main>
{% endblock %}
